.serenade-outer {
    font-size: 15px;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.serenade-edit-outer {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.serenade-edit-button {
    align-self: flex-end;  
    width: 1.75rem;
    height: 1.75rem;
}

    .serenade-edit-button-edit {
        background-image: url(/images/edit.svg);
        background-origin: content-box;
        padding: 0.3em 0.1em 0.1em 0.3em;
        background-repeat: no-repeat;
    }

    .serenade-edit-button-close {
        background-image: url(/images/close.svg);
    }

.serenade-edit-input-outer {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    justify-content: start;
}

.hidden {
    display: none;
}

.serenade-edit-input-inner {
    width: 100%;
    height: 15em;
    resize: none;
}

.serenade-edit-input-button {
    width: 25%;
}

.serenade-staff {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid red;
    padding: 10px;
}

.serenade-bar {
    display: grid;
    grid-template-rows: repeat(29, 0.5em);
}

.serenade-note {
    position: relative;
    align-self: end;
    justify-self: start;
    z-index: 1;
}

.serenade-line {
    position: relative;
    grid-column: 1 / -1;
    align-self: center;
    justify-self: stretch;
    z-index: -1;
    height: 0px;
    border: 0.02em solid #000;
}

.serenade-line-unit {
    z-index: -2;
    width: calc(100% + 0.3em);
    margin-left: -0.2em;
}

.serenade-clef {
    top: 0.25em;
    position: relative;
    align-self: stretch center;
    justify-self: stretch;
    z-index: 1;
    height: 100%;
}

.serenade-clef img {
    height: 100%;
}

.serenade-note img {
    width: 0.9em;
    height: auto;
    object-fit: contain;
    position: relative;
}

.serenade-note-eighth img{
    width: 1.75em;
    margin-bottom: -0.1em;
}

.serenade-note-half img {
    margin-bottom: -0.1em;
}

.serenade-note-quarter img {
    width: 1.1em;
    margin-bottom: -0.1em;
}

.serenade-note-whole img {
    width: 1.2em;
    margin-bottom: -0.1em;
}

.serenade-note-sixteenth img {
    width: 1.7em;
    margin-bottom: -0.2em;
}

.serenade-note-sixteenth.serenade-note-lower {
    width: 1.5em;
    margin-bottom: -0.1em;
    margin-left: -0.4em
}

.serenade-note-eighth.serenade-note-lower {
    margin-bottom: -0.1em;
    margin-left: -0.6em
}

.serenade-note-lower {
    transform: rotate(180deg);
    align-self: start;
}

.serenade-time-sig {
    font-size: 2em;
    font-weight: bold;
    font-style: oblique;
    margin-bottom: 0;
    align-self: auto;
}

.serenade-time-sig-top {
    margin-bottom: -0.3em;
}

.serenade-time-sig-bottom {
    margin-top: -0.3em;
}

.serenade-bar-border {
    width: 0.2em;
    background-color: #000;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    grid-column: 14;
    justify-self: center;
    align-self: stretch;
    z-index: 2;
}