.serenade-outer {
    font-size: 15px;
}

.serenade-staff-holder {
    
}

.serenade-staff {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid red;
    padding: 10px;
}

.serenade-bar {
    border-bottom: 1px solid #000;
    display: grid;
    grid-template-rows: repeat(29, 1em);
}

.serenade-note {
    position: relative;
    align-self: center;
    justify-self: center;
    z-index: 1;
}
.serenade-line {
    position: relative;
    grid-column: 1 / -1;
    align-self: center;
    justify-self: stretch;
    z-index: -1;
    height: 0px;
    border: 0.02em solid #000;
}

.serenade-clef {
    top: 0.5em;
    position: relative;
    align-self: stretch center;
    justify-self: stretch;
    z-index: 1;
    height: 100%;
}

.serenade-clef img {
    height: 100%;
}
